body {
	font-family: tahoma;
	font-size: 16px;
	color: #333;
}

a {
	text-decoration: none;
	color: black;
	display: block;
	width: 100%;
	height: 100%;
}
a:visited {
	color: #333;
}
a:hover {
	color: white;
}

.header_wraper {
	width: 100%;
	height: 100px;
	background: #444;
}
.header {
	width: 610px;
	height: 100%;
	margin: auto;
	position: relative;
	padding: 0;
}

.topmenu_wraper {
	position: absolute;
	right: 15px;
	top: 15px;
	width: 25%;
	background-color: red;
}
.topmenu, .submenu {
	width: 100%;
	padding: 0;
	margin: 0;
	list-style: none;
}

.topmenu li {
	padding-left: 2px;
}
.topmenu li:hover {
	padding-left: -2px;
	background-color: brown;
	cursor: pointer;
	color: white;
}
.topmenu li:hover a {
	color: white;
}


.submenu li {
	padding-left: 12px;
}
.submenu li:hover {
	padding-left: 16px;
	background-color: brown;
	cursor: pointer;
	color: white;
}
.submenu li:hover a {
	color: white;
}

.article_wraper {
	width: 100%;
	background: #fff;
	padding: 0;
	margin: 0;
}
.article {
	width: 610px;
	min-height: 610px;
	margin: 0 auto;
	background: #aaa;
	padding: 0 0 0 10px;
}
.article h1 {
	margin-top: 10px;
	padding-left: 10px;
}
footer {
	width: 100%;
	height: 50px;
	background: #444;
	color: white;
	padding-top: 5px;
	padding-left: 10px;
	margin-top: 0;
}
footer p {
	padding: 0;
	margin: 0;
}