<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>stealth's web-development blog</title>
	<!--<link rel="stylesheet" href="css/reset.css">-->
	<link rel="stylesheet" href="../css/normalize.css">
	<link rel="stylesheet" href="../css/style.css">
	<script type='text/javascript' src="../js/jquery.min.js"></script>

</head>
<body>
	<div class="header_wraper">
		<header class="header">
			<div class="topmenu_wraper">
				<%- topmenu %>
			</div>		
		</header>
	</div>
	<div class="article_wraper">
		<article class="article selected" id="webdev">
			<%- content %>
		</article>
	</div>
	<footer>
		<p>made on conscience. 2014</p>
	</footer>
	<!--
	<script type='text/javascript' src='../js/script.js'></script>
	-->
</body>
</html>	